Sphinx>=7.2.6
sphinx-prompt>=1.8.0
sphinx_materialdesign_theme>=0.1.11
sphinxcontrib-applehelp>=1.0.8
sphinxcontrib-bibtex>=2.6.2
sphinxcontrib-devhelp>=1.0.6
sphinxcontrib-htmlhelp>=2.0.5
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.7
sphinxcontrib-serializinghtml>=1.1.10
myst-parser>=2.0.0,<3
